@use 'base/variables' as v;
@use 'base/mixins' as m;

.categorias {

    background-color: v.$grisClaro;

    &__grid {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        @include m.tablet {
            @include m.grid(3, 2rem);
        }
    }

    &__heading {
        @include m.heading;
        padding: 5rem;
    }
}

.categoria {

    &__nombre {
        font-size: 2.4rem;
        font-weight: 700;
        text-align: center;
    }
}