@use 'base/variables' as v;
@use 'base/mixins' as m;

.grupos {

    
    display: flex;
    flex-direction: column;
    margin: 0;
    background-image: linear-gradient( to bottom, v.$primario 0%,
        v.$primario 50%, v.$secundario 50%, v.$secundario 100%);

    &__grid {
        @include m.tablet {
            @include m.grid(2, 0);
            background-image: linear-gradient( to right, v.$primario 0%,
            v.$primario 50%, v.$secundario 50%, v.$secundario 100%);
        }
    }

    &__bloque {
        width: 100%;
    }

    &__heading {
        @include m.heading;
        color: v.$blanco;
        text-align: left;
        padding: 2rem;
        margin-top: 5rem;
    }

    &__texto {
        padding: 2rem;
        color: v.$blanco;
        font-size: 2.4rem;
    }
}